:root {
  --primary-color: #2E8B57; /* Dark Sea Green */
  --secondary-color: #FF9800; /* Material Orange */
  --background-color: #212121; /* Dark Grey */
  --surface-color: #303030; /* Slightly lighter Grey */
  --secondary-surface-color: #BDBDBD; /* Slightly darker Grey */
  --text-color: #FFFFFF; /* White */
  --secondary-text-color: #9E9E9E; /* Light Grey */
  --radius: 1px; /* Slightly larger border radius for emphasis */
}

body {
  font-family: 'Roboto', sans-serif; /* Default Material Design font */
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 3em; /* Larger font size for emphasis */
}

h2 {
  margin: 0;
  font-size: 2em; /* Larger font size for emphasis */
}

.portfolio-label {
    font-size: 1.5em; /* Larger font size for emphasis */
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

section {
  padding: 20px;
}

footer {
  background-color: var(--surface-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px;
}

.status-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.tables {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px; /* Add margin to match other sections */
  border-radius: var(--radius); /* Adjust the radius as needed */
  overflow: hidden; /* Ensure rounded corners are applied */
}

.tables td {
  border: 1px solid var(--surface-color); /* Slightly lighter border color */
  padding: 14px; /* Larger padding for consistency */
  text-align: center;
}

.tables th {
  background-color: var(--surface-color);
  padding: 14px;
  color: var(--text-color);
}

/* Portfolio Section */
.portfolio-tables {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.coin-icon {
  width: 28px; /* Slightly larger icon size for emphasis */
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px; /* Slightly larger margin for better spacing */
}

.divider {
    border-top: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
}

#performance-chart {
  width: 100%;
  margin-top: 20px;
  background-color: var(--surface-color);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

#stats-label {
  font-size: 1.5em; /* Larger font size for emphasis */
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.statistics {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.stats-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.stat {
    width: calc(50% - 50px); /* Each column takes half of the container width with a 10px gap */
    border: 1px solid var(--surface-color);
    padding: 10px;
    border-radius: var(--radius);
    box-sizing: border-box; /* Ensure padding and border are included in width calculation */
}
.stat:hover {
    background-color: var(--surface-color);
}

.stat-label {
    font-weight: bold;
}

.stat-value {
    float: right;
}

.primary-text{
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 4px;
}
#cash-primary-table{
    padding-left: 20px;
    border-collapse: collapse;
}

#cash-secondary-table{
    margin-left: 20px;
    border-collapse: collapse;
}

.secondary-text{
    color: var(--secondary-text-color);
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.left{
   text-align: left;
}
.right{
   text-align: right;
}
#cash-stats{
    display: flex;
    width: 30%;
    min-width: 350px;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
}

#cash-primary-table tr:hover{
    background-color: var(--surface-color);
}

#cash-secondary-table tr:hover{
    background-color: var(--surface-color);
}


/* Scroll signals section */
#signals-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px
}
.signal-card {
    background-color: var(--surface-color); /* Updated to use provided variable */
    border-radius: var(--radius); /* Updated to use provided variable */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1); /* More pronounced elevation effect */
    padding: 24px;
    margin-bottom: 24px;
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); /* Smooth cubic-bezier transition effect on hover */
}


.signal-card:hover {
    transform: translateY(-3px);
}

.dynamic-width {
    width: 70%;
}
@media (min-width: 961px) {
    .dynamic-width {
        width: 50%;
    }
}
@media (max-width: 400px) {
    .dynamic-width {
        width: 98%;
    }
    .signal-card {
        padding: 4px;
    }
}

.signal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.signal-title {
    font-size: 1.8em;
    font-weight: bold;
    color: var(--text-color); /* Updated to use provided variable */
    margin: 0;
    text-transform: uppercase;
}

.signal-badge {
    background-color: var(--secondary-color); /* Updated to use provided variable */
    color: var(--text-color); /* Updated to use provided variable */
    font-size: 0.9em;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    transition: background-color 0.3s ease; /* Smooth background color transition effect */
}

.signal-badge:hover {
    background-color: darken(var(--primary-color)); /* Darker shade on hover */
}

.divider-card {
    border: none;
    border-bottom: 2px solid var(--secondary-surface-color); /* Divider line color */
    margin-bottom: 16px; /* Spacing below divider */
    width: 75%;
    align-self: left;
    max-width: 60vw;
}

.signal-details {
    margin-top: 16px;
}

.signal-details table {
    width: 100%;
    border-collapse: collapse;
}

.signal-details table td {
    padding: 8px 0;
    font-size: 1.2em;
    color: var(--secondary-text-color); /* Updated to use provided variable */
}

.signal-details table tr:hover {
    background-color: var(--background-color);
}

.signal-details table strong {
padding-left: 10px;
    color: var(--text-color); /* Updated to use provided variable */
}