    #tableOfContents {
      position: fixed;
      top: 0;
      margin-top: 75px;
      left: 0;
      height: 100%;
      overflow-y: auto;
      background-color: #f8f9fa; /* Change as needed */
      border-right: 1px solid #dee2e6; /* Change as needed */
    }
    /* Styling for the active section link */
.active-section {
  color: green !important; /* Change as needed */
}
.toc-doc {
    margin-top: 100px;
    margin-left: 350px;
}

h2 {
    margin-top: 34px;
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.25;
}