    <section id="cash">
        <h2>Cash</h2>
        <div class="divider"></div>
        <div class="center">
            <div id="cash-stats">
                <table id="cash-primary-table">
                    <tr>
                        <td class="primary-text left">Available Cash:</td>
                        <td class="primary-text right">${{avail_cash}}</td>
                    </tr>
                    <tr>
                        <td class="primary-text left">Net Worth:</td>
                        <td class="primary-text right">${{net_worth}}</td>
                    </tr>
                </table>
                <table id="cash-secondary-table">
                    <tr>
                        <td class="secondary-text left">Monthly Total Deposits or Withdrawals:</td>
                        <td class="secondary-text right">${{deposits}}</td>
                    </tr>
                    <tr>
                        <td class="secondary-text left">Collateral:</td>
                        <td class="secondary-text right">${{collateral}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>