    <section id="statistics">
        <h2>Statistics</h2>
        <div class="divider"></div>
        <table id="statistics-table">
            <tr>
                <td class="stat">
                    <span class="stat-label">Equity current [$]:</span>
                    <span class="stat-value">{{current_equity}}</span>
                </td>
                <td class="stat">
                    <span class="stat-label">Equity peak [$] (all-time):</span>
                    <span class="stat-value">{{equity_peak}}</span>
                </td>
            </tr>
            <tr>
                <td class="stat">
                    <span class="stat-label">Year returns [%]:</span>
                    <span class="stat-value">{{year_returns}}</span>
                </td>
                <td class="stat">
                    <span class="stat-label">Total returns [%] (all-time):</span>
                    <span class="stat-value">{{all_time_returns}}</span>
                </td>
            </tr>
            <tr>
                <td class="stat">
                    <span class="stat-label">Index Returns [%]:</span>
                    <span class="stat-value">{{index_returns}}</span>
                </td>
                <td class="stat">
                    <span class="stat-label">Annual returns [%] (all-time):</span>
                    <span class="stat-value">{{annual_returns}}</span>
                </td>
            </tr>
            <tr>
                <td class="stat">
                    <span class="stat-label">Sharp ratio (all-time):</span>
                    <span class="stat-value">{{sharp_ratio}}</span>
                </td>
                <td class="stat">
                    <span class="stat-label">Sortino ratio (all-time):</span>
                    <span class="stat-value">{{sortino_ratio}}</span>
                </td>
            </tr>
            <tr>
                <td class="stat">
                    <span class="stat-label">Max drawdown [%] (all-time):</span>
                    <span class="stat-value">{{max_drawdown}}</span>
                </td>
                <td class="stat">
                    <span class="stat-label">Avg drawdown [%] (all-time):</span>
                    <span class="stat-value">{{avg_drawdown}}</span>
                </td>
            </tr>
            <tr>
                <td class="stat">
                    <span class="stat-label">Calmar ratio (all-time):</span>
                    <span class="stat-value">{{calmar_ratio}}</span>
                </td>
                <td class="stat">
                    <span class="stat-label">Yearly trades:</span>
                    <span class="stat-value">{{yearly_trades}}</span>
                </td>
            </tr>
            <tr>
                <td class="stat">
                    <span class="stat-label">Yearly exits:</span>
                    <span class="stat-value">{{yearly_exits}}</span>
                </td>
                <td class="stat">
                    <span class="stat-label">Win rate [%]:</span>
                    <span class="stat-value">{{win_rate}}</span>
                </td>
            </tr>
            <tr>
                <td class="stat">
                    <span class="stat-label">Best trade [%]:</span>
                    <span class="stat-value">{{best_trade}}</span>
                </td>
                <td class="stat">
                    <span class="stat-label">Worst trade [%]:</span>
                    <span class="stat-value">{{worst_trade}}</span>
                </td>
            </tr>
            <tr>
                <td class="stat">
                    <span class="stat-label">Avg trade [%]:</span>
                    <span class="stat-value">{{avg_trade}}</span>
                </td>
                <td class="stat">
                    <span class="stat-label">Max trade duration [days]:</span>
                    <span class="stat-value">{{max_trade_dur}}</span>
                </td>
            </tr>
            <tr>
                <td class="stat">
                    <span class="stat-label">Avg trade duration [days]:</span>
                    <span class="stat-value">{{avg_trade_dur}}</span>
                </td>
                <td class="stat">
                    <span class="stat-label">Min trade duration [days]:</span>
                    <span class="stat-value">{{min_trade_dur}}</span>
                </td>
            </tr>
            <tr>
                <td class="stat">
                    <span class="stat-label">Profit factor:</span>
                    <span class="stat-value">{{profit_factor}}</span>
                </td>
                <td class="stat">
                    <span class="stat-label">SQN:</span>
                    <span class="stat-value">{{sqn}}</span>
                </td>
            </tr>
        </table>
    </section>