<section id="signals">
    <h2>Signals</h2>
    <div class="divider"></div>
    <table id="signals-table" class="tables">
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Ticker</th>
            <th>Signal Type</th>
            <th>Price Lower Limit</th>
            <th>Price Upper Limit</th>
            <th># Shares</th>
            <th># Shares Borrowed</th>
            <th>Expiry</th>
        </tr>
        </thead>
        <tbody>
            {{signals}}
        </tbody>
    </table>
</section>