        <div class="signal-card">
            <div class="signal-header">
                <h3 class="signal-title">Signal Type</h3>
                {{new}}
            </div>
            <div class="divider-card"> </div>
            <div class="signal-details">
                <table>
                    <tr>
                        <td><strong>Timestamp:</strong></td>
                        <td>{{dt}}</td>
                    </tr>
                    <tr>
                        <td><strong>Ticker:</strong></td>
                        <td>{{ticker}}</td>
                    </tr>
                    <tr>
                        <td><strong># Shares:</strong></td>
                        <td>{{amount}}</td>
                    </tr>
                    <tr>
                        <td><strong># Shares Borrowed:</strong></td>
                        <td>{{amount_borrowed}}</td>
                    </tr>
                    <tr>
                        <td><strong>Price Lower Limit:</strong></td>
                        <td>{{price_l}}</td>
                    </tr>
                    <tr>
                        <td><strong>Price Upper Limit:</strong></td>
                        <td>{{price_h}}</td>
                    </tr>
                    <tr>
                        <td><strong>Expiry:</strong></td>
                        <td>{{expiry}}</td>
                    </tr>
                </table>
            </div>
        </div>